body {
  margin: 0;
  min-width: 768px;
  font-family: 'Roboto', sans-serif;
}
/*2부분으로 나누어준다
왼쪽 네비게이션 바와 오른쪽 main으로*/
#main {
  margin-left: 250px;
}

#main .hero-header{
  text-align: center;
  background-image: url("../images/thailand1.jpg");
  background-size: cover;
  background-position: center center;
  height: 750px;
  line-height: 750px;
}

#main .info {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

#main h1 {
  margin:0;
  margin-bottom: 40px;
  color: white;
  font-size: 48px;
}

#main a {
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#side-navbar{
  background-color: #009688;
  height: 100%;
  width: 250px;
  position: fixed;
}

#side-navbar ul{
  font-size: 24px;
  list-style: none;
  margin:0;
  padding: 0;
}
#side-navbar li{
  margin-top: 35px;
  padding-left: 22px;
}
#side-navbar a{
  text-decoration: none;
  color: white;
}
.link{
  padding-left: 20px;
  margin-top: 50px;
  font-size: 20px;
}