body {
  margin: 0;
}

div {
	height: 200px;
	float: left;
	/*이렇게 한줄 만으로도 가능하다*/
}

#red {
	width: 100%;
	background-color: #FF0000;
}

#orange {
	width: 25%;
	background-color: #FFA500;
}

#yellow {
	width: 50%;
	background-color: #FFFF00;
}

#green {
	width: 25%;
	background-color: #008000;
}

#blue {
	width: 50%;
	background-color: #0000FF;
}

#indigo {
	width: 50%;
	background-color: #4B0082;
}

#purple {
	width: 100%;
	background-color: #800080;
}