body {
  font-family: 'Noto Sans KR', sans-serif;
}

.text {
	vertical-align: middle;
	padding: 0;
	/*밑에 세로 정렬이 헷갈린다*/
	top:126.5px;
	bottom:126.5px;
}
.text h1 {
	font-size: 32px;
	color: white;
	margin:0;
}
.text h2 {
	font-size: 20px;
	color: white;
	margin-top:18px;
	margin-bottom: 48px;
}
.text a {
	font-size: 16px;
	color: white;
	text-decoration: none;
	background-color: #5900E7;
	margin:0;
	padding: 10px 30px;
}
#yellow {
	margin-top: 50px;
	border-radius: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.carousel-item {
  height: 400px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.music {
	background-position: left center;
}
.makeup {
	background-position: center top;
}
.cooking {
	background-position: center center;
}